@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color:#302e2e; 
    --secondary-color: rgba(0, 0, 0, 0.5); 
    --highlight-color: red; 
    --text-color: #fff;
}

body{
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary-color);
    position: relative;
}

.header-right {
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.8rem;
    color: var(--text-color);
    font-style: fantasy;
}

.profile-btn {
    background-color: var(--highlight-color);
    color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

.profile-btn:hover {
    background-color: #fff;
    color: var(--highlight-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.search{
    background-color: transparent;
    border: 2px solid var(--highlight-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: var(--text-color);
    font-family: inherit;
    margin-right: 1rem; 
}

.search:focus{
    outline: 0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid var(--highlight-color);
    font-size: 20px;
    font-weight: 600;
}

#tags{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color: var(--text-color);
    padding:10px 20px;
    background-color: var(--highlight-color);
    border-radius: 50px;
    margin:5px;
    display:inline-block;
    cursor: pointer;
}

.tag.highlight{
    background-color: #fff;
    color: var(--highlight-color);
}
.no-results{
    color: var(--text-color);
}